
  .js-subscribe-button{
    background-color: black;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border :none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;

  }
  .is-subscribed{
    background-color: rgb(240,240,240);
    color:black;

  }
  .js-calculate
  {
    background-color: green;
    color : white;
    border: none;
    font-size: 15px;
    padding: 10px 9px;
    cursor:pointer;
  }
  .js-input{
    padding: 10px;
  }

