body{
 background-color: #f4f6f8;
   color: #222;
  font-family: 'Segoe UI', sans-serif;
}=
button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #357ab8;
}
.del{
  background-color: red;
  background-color: #e74c3c;
}
.del:hover{
 background-color: darkred;

}